# Snippet for typewriting font
snippet tt "The \texttt{} command for typewriter-style font"
\texttt{${1:${VISUAL:}}}$0
endsnippet

# Snippet for italic font
snippet tii "The \textit{} command for italic font"
\textit{${1:${VISUAL:}}}$0
endsnippet

# Snippet for bold font
snippet tbf "The \textbf{} command for bold font"
\textbf{${1:${VISUAL:}}}$0
endsnippet

# Snippet for underlined font
snippet tu "The \underline{} command for underlined font"
\underline{${1:${VISUAL:}}}$0
endsnippet

# Snippet for quotation
snippet qq "`` <quoted text> '' in LaTeX"
\`\`${1:${VISUAL:}}''$0
endsnippet
