# ----------------------------- #
#	GLOBAL
# ----------------------------- #
global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

# ----------------------------- #
# 'context "math()"' above any snippets you want to expand only in math mode
# ----------------------------- #

# Auto parens for functions in math mode
context "math()"
snippet "([a-zA-Z])\(" "Auto parens for functions in math mode" rA
`!p snip.rv = match.group(1)`($1)$0
endsnippet

# Snippet for fractions, preventing fraction expansion in words containing "ff"
context "math()"
snippet "(^|[^a-zA-Z])ff" "\frac{}{}" rA
`!p snip.rv = match.group(1)`\frac{${1:${VISUAL:}}}{$2}$0
endsnippet

# Easily insert Euler's number e
context "math()"
snippet "([^a-zA-Z])ee" "e^{} supercript" rA
`!p snip.rv = match.group(1)`e^{${1:${VISUAL:}}}$0
endsnippet

# Easily insert Subscript in math mode
context "math()"
snippet "([\w])_" "_{} Subscript in math mode" rA
`!p snip.rv = match.group(1)`_{${1:${VISUAL:}}}$0
endsnippet

# Easily insert Superscript in math mode
context "math()"
snippet "([\w])\^" "^{} Superscript in math mode" rA
`!p snip.rv = match.group(1)`^{${1:${VISUAL:}}}$0
endsnippet

# Quickly insert a zero subscript
context "math()"
snippet "([a-zA-Z]|[\}\)\]\|'])00" "Automatic 0 subscript" rA
`!p snip.rv = match.group(1)`_{0}
endsnippet

# Snippet for differentials
snippet "([^a-zA-Z0-9])df" "\diff" rA
`!p snip.rv = match.group(1)`\diff
endsnippet
